.product-box{

    &:hover{
        box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.5);
        cursor: pointer;
    }

    &:hover .image-container img{
        -webkit-transform: scale(1.2) rotate(10deg);
        transform: scale(1.2) rotate(10deg);
    }

    &:hover .image-container .overlay{
        opacity: 1;
    }

    &:hover .info-container .city{
        color: purple;
    }

    &:hover .info-container .prices-container{
        visibility: visible;
    }

    .image-container{
        position: relative;
        flex:initial;
        //transition: all 0.5s;
        //width: 100%;
        //height: 100%;
        
        img{
            height: 100%;
            width: 100%;
        }
        .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            background-color: rgba(17, 0, 0, 0.398);

            .overlay-icon{
                color: white;
                font-size: 36px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }

    .info-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        .city{
            flex: initial;
            font-family: 'Pacifico', cursive;
            color: #4e004e;
            font-weight: bold;
        }

        .description{
            flex:1;
            text-align: left;
            font-family: 'Cuprum', sans-serif;
            font-size: 12px;
        }

        .prices-container{
            visibility: hidden;
            flex: initial;
            display: flex;
            justify-content: space-around;
            font-family: "Cuprum", sans-serif;
            color: black;
            font-size: 10px;
            margin-bottom: 8px;

            .price-single,
            .price-group,
            .price-inc{

                height: 15px;
                width: 30px;
                display: flex;
                justify-content: space-around;
                border: solid 0.2px #e0e0e0;

                span.icon {
                    background-color: #e0e0e0;
                }
    
                span{
                    height: 100%;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            
        }
    }

    .book{
        flex:initial;
        //display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f00;
        border: none;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        font-family: 'Cuprum', sans-serif;

        &:hover {
            color: white;
        }
    }
}