.product-box-list{

    &:hover .book{
        height: 100%;
    }

    .image-container{
        width: 120px;
        height: 100%;
        
        img{
            height: 100%;
            width: 100%;
            -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 55% 100%, 50% 96%, 45% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 55% 100%, 50% 96%, 45% 100%, 0 100%, 0 0);
        }
    }
    
    .info-container{
        margin-left: 5px;
        

        .prices-container{
            width: 27%;

            & > div {
                border: solid 0.5px #cccccc;
                text-align: center;
            }
        }
    }

    .book{
        width: 100px;
        height: 30px;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
    }
}