.product-box-list{
    @extend .product-box;

    &:hover .book{
        height: 100%;
    }

    &:hover .image-container{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 42%, 92% 50%, 100% 58%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 42%, 92% 50%, 100% 58%, 100% 100%, 0 100%);
    }

    .image-container{
        width: 120px;
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%);

        img{
            height: 100%;
            width: 100%;
        }
    }
    
    .info-container{
        margin-left: 5px;

        .prices-container {
            width: 140px;
        }
    }

    .book{
        width: 100px;
        height: 30px;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
    }
}