.product-box-list{
    // extends product-box and override or apply new css rules
    @extend .product-box;

    @keyframes image-animation-list{
        0% {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%);
        }

        100% {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 42%, 92% 50%, 100% 58%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 42%, 92% 50%, 100% 58%, 100% 100%, 0 100%);
        }
    }

    &:hover .image-container{
        // image container triangle animation 
        // retain the style values that is set by the last keyframe (forwards)
        animation: image-animation-list 0.2s 1 forwards;
    }

    &:hover .book{
        height: 100%;
    }

    .image-container{
        width: 120px;
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 45%, 95% 50%, 100% 55%, 100% 100%, 0 100%);

        img{
            height: 100%;
            width: 100%;
        }
    }
    
    .info-container{
        margin-left: 5px;

        .prices-container {
            width: 140px;
        }
    }

    .book{
        width: 100px;
        height: 30px;
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
    }
}