.products-block{

    .block-header{
        color: red;
        height: 30px;
        width: 98%;
        margin-left: 1%;
        margin-top: 15px;
        display: flex;
        flex-wrap: nowrap;

        @include for-size(tablet-landscape-up) {
            &:hover .switch-layout{
                display: flex;
                cursor: pointer;
            }
        }

        .switch-layout{
            flex: initial;
            font-size: 18px;
            display: none;
            justify-content: center;
            align-items: center;
            color: gray;
        }

        .h-line{
            flex: 1;
            display: flex;
            margin-top: 13px;
            margin-left: 6px;
            margin-right: 6px;
            border-top: 1px solid red;
            height: 0px;
        }

        .block-name{
            flex: initial;
            font-family: 'Pacifico', cursive;
        }
    }
}