.products-block{

    // Mostly fluid pattern
    .boxing-grid{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;

        .product-box-grid{
            display: flex;
            flex-direction: column;
            width: 96%;
            margin: 1%;
            //display: flex;

            @include for-size(phone-medium-up) {
                width: 46%;
            }

            @include for-size(tablet-portrait-up) {
                width: 29%;
            }

            @include for-size(tablet-landscape-up) {
                width: 21%;
            }

            @include for-size(desktop-up) {
                width: 16%;
            }
        }
    }
}