.product-box-grid{
    @extend .product-box;

    &:hover .book{
        visibility: visible;
    }

    &:hover .image-container{
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 58% 100%, 50% 93%, 42% 100%, 0 100%, 0 0);
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 58% 100%, 50% 93%, 42% 100%, 0 100%, 0 0);
    }

    .image-container{
        display: flex;
        height: 45%;
        width: 100%;
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 55% 100%, 50% 96%, 45% 100%, 0 100%, 0 0);
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 55% 100%, 50% 96%, 45% 100%, 0 100%, 0 0);
    }

    .info-container{
        .city{
            text-align: center;
            margin: 5px 0 5px 0;
        }

        .description{
            flex:1;
            text-align: left;
            margin-left: 10px;
            font-family: 'Cuprum', sans-serif;
            font-size: 12px;
        }
    }

    .book{
        visibility: hidden;
        width: 100%;
        height: 34px;
    }
}