.products-block{

    // Mostly fluid pattern
    // I used mostly fluid pattern for grid view with fixed width for larger viewports, and flex layout mode to arrange items on containers in most cases (instead floats).
    .boxing-grid{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;

        .product-box-grid{
            display: flex;
            flex-direction: column;
            width: 98%;
            margin: 1%;

            @include for-size(phone-medium-up) {
                width: 48%;
            }

            @include for-size(tablet-portrait-up) {
                width: 31%;
            }

            @include for-size(tablet-landscape-up) {
                width: 23%;
            }

            @include for-size(desktop-up) {
                width: 18%;
            }
        }
    }
}