.products-block{

    .block-header{
        color: red;
        height: 30px;
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-wrap: nowrap;

        &:hover .switch-layout{
            display: flex;
            cursor: pointer;
        }

        .switch-layout{
            flex: initial;
            font-size: 18px;
            display: none;
            justify-content: center;
            align-items: center;
        }

        .h-line{
            flex: 1;
            display: flex;
            margin-top: 13px;
            margin-left: 6px;
            margin-right: 6px;
            border-top: 1px solid red;
            height: 0px;
        }

        .block-name{
            flex: initial;
            font-family: 'Pacifico', cursive;

            /*&:before {
                border-top: 1px solid red;
                content: '';
                display: table-cell;
                position: relative;
                top: 50%;
                width: 100%;
              }*/
              //&:before { right: 0.5%; }
        }
    }
}